.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

html,body{
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 1rem;

}

h1{
    color:hsl(218, 44%, 22%) ;
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 15px;

}

section{
    padding: 1rem;
}